ul {
  margin-left: 0.63cm;
  padding: 0;
  list-style: none;
}
ul li:before {
  content: '-';
  left: -0.63cm;
  position: absolute;
}
ul li {
  position: relative;
}
ol {
  counter-reset: olCounter;
  margin-left: 0.63cm;
  padding: 0;
  list-style: none;
}
ol li:before {
  counter-increment: olCounter;
  content: counter(olCounter) ".";
  left: -0.63cm;
  position: absolute;
}
ol li {
  position: relative;
}
