/*noinspection ALL*/
@page {
  size: A4 portrait;
  margin-top: 1cm;
  margin-right: 1cm;
  margin-left: 1cm;
  margin-bottom: 1cm;
}

ul:first-child {
  page-break-before: auto;
}

ul {
  page-break-before: always;
}

li {
  border: medium solid black;
  width: 8.5cm;
  height: 3.5cm;
  padding-top: 1.5cm;

  /* not using inline-block because it leaves horizontal space http://stackoverflow.com/questions/5256533/a-space-between-inline-block-list-items */
  display: block;
  float: left;

  text-align: center;
  /* http://phrogz.net/css/vertical-align/index.html */
  /*line-height: 2cm;*/

  font-size: 16pt;
}
